.wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.wrapper button{
    padding: 10px 20px;
    background: #000;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.accordian{
    width: 500px;

}
.item{
    background: #614101;
    margin-bottom: 10px;
    padding: 10px 20px;
}
.title{
    color: white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.content{
    color: white;
    height: auto;
}